#gameDiv {
	display:none;
	cursor: crosshair;
}

#ctx {
	border-style: none;
	border-width: 2px;
	border-color: black;
	background-color: #FFFFFF;
}

#signDiv {
	margin: auto;
	width: 50%;
	border: 2px solid black;
	padding: 10px;
	margin-top: 10px;
}

* {
	margin: 0;
	padding: 0;
}

